<h1>edit your this job prospect</h1>
<p>&nbsp;</p>

<%= form_for @jobprospects do |a| %>

<strong>job status:</strong> <%= a.collection_select :status, Jobprospect.jobstatus, :to_s, :to_s, :include_blank => false %>
<p></p>
<strong>position title:</strong> <%= a.text_field :positiontitle %>
<p></p>
<strong>job description:</strong> <%= a.text_field :description %>
<p></p>
<strong>company name:</strong> <%= a.text_field :companyname %>
<p></p>
<strong>city:</strong> <%= a.text_field :city %>
<p></p>
<strong>contact 1:</strong> <%= a.text_field :contact01 %>
<p></p>
<strong>contact 1 email:</strong> <%= a.text_field :contact01email %>
<p></p>
<strong>contact 1 phone #:</strong> <%= a.text_field :contact01phone %>
<p></p>
<strong>contact 2:</strong> <%= a.text_field :contact02 %>
<p></p>
<strong>contact 2 email:</strong> <%= a.text_field :contact02email %>
<p></p>
<strong>contact 2 phone #:</strong> <%= a.text_field :contact02phone %>
<p></p>
<strong>comments:</strong> <%= a.text_field :comments %>
<p></p>
<%= a.submit "edit this job", {class: "btn btn-primary"}%>
<% end %>



<p></p>
<p>&nbsp;</p>
&rarr; <%= link_to "click here to delete this job.", :jobprospect, method: :delete, data: {confirm: "are you sure you want to delete this job forever?"} %>
<p></p>
&rarr; <%= link_to "go back to user dashboard to view all jobs you've applied for!", jobprospects_path %>
