<h1>Jobprospects#index</h1>
<p>Find me in app/views/jobprospects/index.html.erb</p>


<%= @jobprospects.inspect %>

<% @jobprospects.each do |job| %>
  <p>
    <strong>Position Title: </strong> <%= job.positiontitle %> &nbsp; &nbsp; <%= link_to "#{job.positiontitle}", jobprospect_path(job) %>
  <br>
    <strong>Company Name: </strong> <%= job.companyname %> &nbsp; &nbsp; <%= link_to "#{job.companyname}", jobprospect_path(job) %>
  <br>
    <strong>Status: </strong> <%= job.status %> &nbsp; &nbsp; <%= link_to "#{job.status}", jobprospect_path(job) %>
  <p></p>
<% end %>


<%#= link_to 'Show', jobprospect %>
<%#= link_to 'Edit', edit_jobprospect_path(x) %>
<%#= link_to 'Destroy', jobprospect, method: :delete, data: { confirm: 'Are you sure?' } %>
